<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <!--Program section-->
    <add key="DirectoryToDeleteFiles" value=""/>
    <add key="SourcePath" value=""/>
    <add key="TargetPath" value=""/>
    <add key="Services" value=""/>
    <add key="ServicesMachine" value=""/>
    <add key="ZipPass" value="ZipIt"/>
    <add key="ExtensionsToZip" value=".mdf,.ldf"/>
    <add key="TimeOut" value="5000"/>

    <!--Mail section-->
    <add key="MailToAddress" value=""/>
    <add key="MailFromAddress" value=""/>
    <add key="MailCC" value=""/>
    <!--Use existing gmail for smtp credentials!-->
    <add key="MailEmaiForCredential" value=""/>
    <add key="MailPassWordForCredential" value=""/>
    <add key="MailJpegContentFilePath" value="Content/ZipManager.jpg"/>
    <add key="MailSubject" value="Zip en Encrypt overzicht"/>

    <!-- Message section-->
    <add key="MessageAanhef" value="Heer {Name}"/>
    <add key="MessageTitel" value="Uw dagelijkse overzicht:"/>
    <add key="MessageHtmlTemplatePath" value="Content/HtmlTemplate.htm"/>
    <add key="MessageHtmlHeadTitle" value="ZipManager Mail"/>
    <add key="MessageFailure" value="Er is iets fout gegaan tijdens het Zip en Encrypt proces! Zie onderstaande log-regels"/>
    <add key="MessageSucces" value="Het Zip en Encrypt proces is succesvol doorlopen!"/>

  </appSettings>
</configuration>
